 <%= render "shared/header" %>
 
 
   <div class="container" style = "margin-top: 50px;" ng-app="sharedApp" ng-controller="SharedController" ng-view>
      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h2>Navegação</h2>
            <spam> Nosso sistema utiliza tags para filtrar o conteúdo, utilize o campo abaixo para adicionar tags para filtrar a pesquisa. Por padrão os resultados são ordenados cronologicamente, utilize o dropbox para mudar a lógica de ordenação.</spam>
            
             <div class="row">
              <div class="col-xs-4 col-lg-4">
                <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        Ordenar
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Melhor Rating</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Pior Rating</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Data Crescente</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Data Decrescente</a></li>
                      </ul>
          </div>  
              </div><!--/.col-xs-6.col-lg-4-->
                <div class="control-group col-xs-8 col-lg-8">
                              <div class="controls">
                                <input required="" id="tags" class="form-control input-medium" data-role="tagsinput">
                              </div>
               </div>
             </div>
          </div>
          <div class="row">
		  	<% Content.order(created_at: :desc).limit(10).each do |c| %>
				<div class="col-xs-12 col-lg-12">
					<h2><%= link_to c.title, show_content_path(c)%></h2>
					<em>Por <%= c.user.name %>, em <%= c.created_at %>
					<span class="label label-danger pull-right"> Rating: <span class="badge"><%= c.rating %></span> </span>
					</em>
					<p><%= c.resume %></p>
             		<p><a class="btn btn-default" href="<=% show_content_path(c) %>" role="button">Ver Detalhes &raquo;</a></p>
            	</div><!--/.col-xs-6.col-lg-4-->
			<% end %>
          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->

       <!-- LOAD TEMPLATE OF TRENDS TOPICS -->
       <%= render "shared/trends" %>
	   
      </div><!--/row-->

      <hr>

     

    </div><!--/.container-->
	 <!-- LOAD TEMPLATE OF TRENDS TOPICS -->
     <%= render "shared/footer" %>
