<%= render "shared/header" %>

   <div class="container" style = "margin-top: 60px;" ng-app="sharedApp" ng-controller="SharedController" ng-view>
      <div class="row row-offcanvas row-offcanvas-right">
         <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div id="topicContent">
          <h1><% @content.title %></h1>
          <hr class="prettyline">
          <div id="tags">
            <p>Tags:
			<% @content.tags.each do |t|  %>
			<span class="label label-info"> <%= t.body %></span>
			<% end %>
            <span class="label label-success pull-right"> Rating: <span class="badge"><%= @content.score %></span> </span>
            </p>
            
          </div>
          <hr class="prettyline">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <img src="img/user_icon.jpg" class="img-thumbnail" alt="Perfil Photo" width="100px" height="100px">
              <button type="button" class="btn btn-sm btn-danger pull-right"><spam class="glyphicon glyphicon-thumbs-down"> DownVote </spam></button>
              <button type="button" class="btn btn-sm btn-success pull-right"><spam class="glyphicon glyphicon-thumbs-up"> UpVote </spam></button></button>
              <br>
              <br>
              <h3 class="panel-title">Por <%= @content.user.name %>
              <spam class="pull-right"> Em: <%= @content.created_at %> </spam>
              </h3>
            </div>
            <%= raw @content.body %>
          
          
         
          </div>
          
          </div>
          <div class="jumbotron">
            <div id="wrapper" style="width: 700px">
                            
                                <form  enctype="multipart/form-data" method="post" action="/postagem/<% @content.id %>/comentario/criar" autocomplete="on" class="form-horizontal">
                                    <h2>Comentar</h2>
                             <!-- Text input-->
                                <p> 
                                <div tabindex="-1">
                                <textarea class="textbox" tabindex="-1" name="content[body]" style="width:100%; height: 200px"  spellcheck="true"></textarea>
                                </div>
                                </p>
                                <div class="control-group">
                                  <label class="control-label" for="create"></label>
                                  <div class="controls">
                                    <button id="createBtn" name="create" class="btn btn-primary btn-lg pull-right" type="submit">Comentar</button>
                                  </div>
                                </div>

                                
                            </form>
                                  
                        </div>
     
          </div>
        </div>
      
      
      
      
    <!-- LOAD TEMPLATE OF TRENDS TOPICS -->
       <%= render "shared/trends" %>
      </div><!--/row-->

      <hr>

     <!-- LOAD TEMPLATE OF TRENDS TOPICS -->
       <%= render "shared/footer" %>

    </div><!--/.container-->


