<div class="col-xs-12 col-lg-12 auto-overflow">
 	<h2><%= link_to feed.title, show_content_path(feed)%></h2>
 	<em>Por <%= feed.user.name %>, em <%= feed.created_at.strftime("%d/%m/%Y, %R") %>
 		<span class="label label-danger pull-right"> Rating: <span class="badge"><%= feed.score %></span> </span>
 	</em>
 	<p><%= feed.preview %></p>

 	<p>
 		Tags: <% feed.tags.limit(10).each do |t| %>
 		 <span class="label label-info"> <%= t.body %></span>
		<% end %>
 		<a class="btn btn-default pull-right" href='<%= show_content_path(feed) %>' role="button">Ver Detalhes &raquo;</a>
 	</p>

</div><!--/.col-xs-6.col-lg-4-->